<div class="card hovercard">
  <div class="cardheader">

  </div>
  <div class="avatar">
    <img alt=""  src="assets/images/{{person.path}}">
  </div>
  <div class="info">
    <div class="title">
      <a target="_blank" href="https://scripteden.com/">{{person.firstName}} {{person.lastName}}</a>
    </div>
    <div class="desc">CIN : {{person.cin}}</div>
    <div class="desc">AGE : {{person.age}}</div>
    <div class="desc">JOB : {{person.job}}</div>
  </div>
  <div class="bottom">

    <a class="btn btn-warning ">
      Update
    </a>

    <a class="btn btn-danger ">
      Delete
    </a>

  </div>
</div>

